:root {
    --white: #FFF;
    --black: #212121;
    --primary: #5067E9;
    --primary-light: #F4F5FF;
    --sub: #B34CE3;

    /* Gray -----------------------------------------  */
    --gray100: #FAFAFA;
    --gray200: #c8c8c8;
    --gray300: #acacac;
    --gray400: #9E9E9E;
    --gray500: #757575;
    --gray600: #5e5e5e;
    --gray700: #464646;
    --gray800: #2f2f2f;
    --gray900: #171717;
}