/* COMMON */
.body__container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}
a {
    text-decoration: none;
}
.gray-bg {
    background-color: var(--gray100);
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* VISUAL */
.main__visual {
    padding: 12px 16px;
}
