// COMMON 
.body__container {
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.5;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}
a {
    text-decoration: none;
}
.gray-bg {
    background-color: $gray100;
}
.inner {
    position: relative;
}

//TYPOGRAPHY
h2 {
    font-size: 16px;
    font-weight: bold;
}

// SECTION
.section {
    padding: 0 16px;
}

// FLOAT CLEARFIX
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

// VISUAL 
.main__visual {
    padding: 68px 16px 12px;
    @include line-bottom(1px, #eee);
}
.form__inner {
    position: relative;

    #mainSearch {
        padding-left: 44px;
        width: 100%;
        height: 46px;
        border: 0;
    }


    .search-btn {
        @include psTop(absolute, 50%, -50%);
        left: 14px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-position: 19.744% 62.298%;
        border: 0;
    }
}
.main__banner {

    &--figure {
        margin-top: 12px;
        width: 100%;
        height: auto;
        min-height: 88px;
        border-radius: 4px;
        overflow: hidden;

    }
}

// PUBLIC
.main-public {
    padding-bottom: 56px;

    .main-shorcut {
        position: relative;
        @include flexbox($align-items: center, $justify-content: center);
        background-color: $white;
        height: 48px;
        @include line-bottom(6px, $gray200);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 20px;
            background-color: #eee;
            transform: translate(-50%, -50%);
        }

        a {
            display: block;
            width: 50%;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }
    }

.public__list{
        padding: 24px 16px;

        .tabs__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }

        .tabs__list {
            
            &-card {

                &:not(:last-of-type) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}