// 아이콘 스타일 ------------------------------------------------------------------ /
.sy-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../images/icon.png);
    background-repeat: no-repeat;
    background-size: 368px 264px;
}